<script lang="ts">
</script>

<main>
  <div id="container">
    <div id="upcoming-assignments">
      <h1>upcoming assignments</h1>
    </div>
    <div id="add">
      <h1>add assignment</h1>
    </div>
  </div>
</main>

<style>
  main {
    font-family: "Hack", Courier, monospace;
    background-color: #1c1c1e;
    padding: 0;
    margin: 0;
  }

  #container {
    display: flex;
    width: 100%;
    margin: 3em;
  }

  #container * {
    width: 100%;
  }
</style>
